// Animation au chargement
@keyframes menuFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

// Header
.header {
    &__nav {
        a {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: $font-size-24;
            &:visited {
                color: black;
            }
        }
    }
    &__img {
        img {
            width: 100%;
            height: 275px;
            // Afin de mettre le menu au-dessus de l'image
            z-index: -1;
            object-fit: cover;
            // Media Query
            @media (min-width: 1440px) {
                height: 385px;
            }
        }
    }
}

// Menu
// Entrées, Plats, Desserts
.container {
    position: relative;
    margin-top: -30px;
    background-color: $light-grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 40px;
    z-index: 1;
    // Media Query
    @media (min-width: 1440px) {
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
    }
    &__title {
        font-family: $font-logo-title;
        font-size: 28px;
        font-weight: bold;
        padding-top: 30px;
        margin-left: 1rem;
        margin-bottom: 40px;
        display: flex;
        // Media Query
        @media (min-width: 767.98px) {
            justify-content: center;
            margin-left: 0;
            padding-top: 50px;
        }
        h2 {
            font-weight: 400;
        }
        .restaurants-card__item__like {
            margin-left: 1.8rem;
            padding: 0;
            // Media Query
            @media (max-width: 340px) {
                margin-left: 0.8rem;
            }
        }
    }
    &__menu {
        padding: 0 1rem;
        margin-bottom: 40px !important;
        opacity: 0;
        text-transform: uppercase;
        margin-bottom: 21px; // 12px + 9px à cause du ::after
        position: relative;
        //Animation au chargement
        animation: menuFadeIn 0.8s forwards ease-in-out;
        // Media Query
        @media (min-width: 767.98px) {
            max-width: 640px;
            margin: auto;
        }
        h3 {
            text-transform: uppercase;
            margin-bottom: 21px; // 12px + 9px à cause du ::after
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -9px;
                width: 40px;
                height: 3px;
                background-color: $green;
            }
        }
        &__item {
            background-color: $white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: row;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 20px;
            height: 70px;
            // Animation check
            &:hover > .container__menu__item__check {
                margin: 0;
                transition: all ease-in-out 0.5s;
                -webkit-transition: all ease-in-out 0.5s;
                -moz-transition: all ease-in-out 0.5s;
                -ms-transition: all ease-in-out 0.5s;
                -o-transition: all ease-in-out 0.5s;
            }
            &__txt {
                flex: 1;
                padding: 15px;
                /* Affichage ... quand l'espace est insuffisant */
                white-space: nowrap;
                overflow: hidden;
                &__title {
                    font-size: $font-size-18;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                &__description {
                    /* Affichage ... suite */
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 14px;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
            &__price {
                width: 2.9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                font-weight: bold;
                // Media Query
                @media (min-width: 767.98px) {
                    width: 5rem;
                }
            }
            &__check {
                width: 3.5rem;
                height: 100%;
                /* Margin négative pour sortir à droite du cadre */
                margin-right: -3.5rem;
                background-color: #99e2d0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-duration: 0.5s;
                // Media Query
                @media (min-width: 767.98px) {
                    width: 4rem;
                    /* Margin négative pour sortir à droite du cadre */
                    margin-right: -4rem;
                }
            }
        }
    }
    // Animation delay menuFadeIn
    .container__menu:nth-child(2) {
        animation-delay: 0.1s;
    }
    .container__menu:nth-child(3) {
        animation-delay: 0.6s;
    }
    .container__menu:nth-child(4) {
        animation-delay: 1.1s;
    }
}

.fa-circle-check {
    color: white;
}
.container__menu__item__txt--title,
.container__menu__item__txt--description {
    margin: 0;
}
// Button order
.container #order {
    color: white;
    border-style: none;
    border-radius: 30px;
    background: $gradient;
    font-size: $font-size-16;
    width: 12rem;
    padding: 1rem 0;
    display: block;
    margin: auto;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.container #order:hover {
    background: $gradient-hover;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
