//C'est ici que l'on va mettre les fichiers .scss qui servent de base à l'ensemble du style du texte : _normalize.scss
@use "sass:color";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-logo-title: "Shrikhand", serif;
$font-text: "Roboto", sans-serif;

// Font size
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-30: 30px;

// Colours
$white: #fff;
$light-grey: #f6f6f6;
$dark-grey: #353535;
$green: #99e2d0;
$purple: #9356dc;
$light-purple: #ff79da;
$gradient: linear-gradient(193deg, #9356dc 0, #ff79da 100%);
$gradient-hover: linear-gradient(193deg, lighten(#9356dc, 5%) 0, lighten(#ff79da, 5%) 100%);
